/*
_______________________________
Desktop version layout - place your custom code here */

body {
	
	
}

#logo {
  width: 320px;
  height: 80px;
  background: url(../images/logo.png);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.topforms{
	overflow: hidden;
	position: relative;
}

.top-search{
	float: left;
	width: 60%;
}

.searchForm input[type="text"]{
	font-family: Georgia;     /* Overridden by font: -webkit-small-control; */
	line-height: 2.5;           /* Irrelevant, I guess */
	width: 295px;
}

.searchForm input[type="text"]:hover{
border: 1px solid #B9B9B9;
border-top: 1px solid #A0A0A0;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.searchForm input[type="submit"]{
	background: url(../images/search.jpg);
	width : 84px;
	height :38px;
	border : none;
	color : transparent;
}

.signin{
	float: left;
	width: 30%;
}

.signinForm{
	display: none;
}



/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}
	
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}